body {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    object-fit: cover;
    background-color: rgb(141, 223, 131);

    .body-container {
        max-width: 1200px;
        margin: auto;

        header {
            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: #f30808;

                .logo-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 60%;

                    img {
                        max-width: 100px;
                    }

                    .title-container {
                        margin: 0px 0px 0px 20px;

                        h1 {
                            margin: 0px 0px 5px;
                        }
                    }
                }

                .searchBar {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        font-size: 1rem;
                    }
                }
            }
        }

        .loading-gif {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            height: 100vh;
        }

        main {
            background-color: rgb(221, 220, 231);
            padding: 20px 30px;
            min-height: 100vh;

            .cards-container {
                display: grid;
                grid-template-columns: repeat(
                    auto-fit,
                    minmax(200px, 200px)
                ); /* Assure une largeur minimale pour chaque carte */
                gap: 30px;
                padding: 20px 0px;
                border-radius: 3px;
                place-items: center; /* Centre les cartes horizontalement et verticalement */

                a {
                    text-decoration: none;
                    color: initial;
                }

                .pokemon_card {
                    background-color: #fff;
                    border-radius: 10px;
                    width: 100%;
                    border: 1px solid black;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

                    .title_card {
                        display: flex;
                        justify-content: space-evenly;
                        padding: 10px;
                        border-bottom: 1px solid black;

                        p {
                            margin: 0;
                        }
                    }

                    .infos-container {
                        display: flex;

                        .pokemon_img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #a6e398;
                            border-radius: 0px 0px 0px 10px;

                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .infos_card {
                            display: flex;
                            flex-direction: column;
                            border-left: 0.5px solid black;
                            padding: 0px 0px 0px 5px;

                            h4 {
                                font-size: 0.9rem;
                                margin: 5px 0px 0px 0px;
                                text-decoration: underline;
                            }

                            .informations_title {
                                font-size: 0.8rem;
                                font-weight: bold;
                                padding-top: 5px;
                            }

                            ul {
                                margin: 0px;
                                padding: 5px 0px 0px 20px;

                                .infos {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 75%;
                                    font-size: 0.7rem;

                                    img {
                                        width: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .pokemon_card-container {
            margin: auto;
            border: 8px solid orange;
            border-radius: 10px;
            width: 50%;
            max-width: 800px;
            /* background-image: url("../src/assets/background-card.webp"); */

            .title_card-container {
                display: flex;
                justify-content: space-between;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 20px;
                margin: 0px 0px 20px 0px;
                border-bottom: 1px solid black;
                background-color: #fff;

                p {
                    margin: 0px;
                }

                .pvTypes {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                        border-radius: 50%;
                    }
                }
            }

            .img_pokemon-container {
                .img_type-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: auto;
                    width: 60.5%;
                    height: 40px;

                    .img_type {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: 1;
                        width: 100%;
                        height: 100%;
                    }
                }

                .img_pokemon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    width: 60%;

                    img {
                        width: 100%;
                        border: 3px solid rgb(138, 127, 127);
                        background-image: url("../src/assets/background-img.jpg");
                    }

                    figcaption {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
